p,h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif;
}
.button-container{
    display: grid;
    gap: 5%;
  }

.responsive-box {
    max-width: 50%;
    min-height: 50px;
    margin:0 auto;
    background-color: #d6d4d4;
    border: 4px solid #000000;
    align-items: center;
    text-align: center;
    display:inline-grid;
    margin-top:10%;
}

.browse-button.responsive-box{
    max-width:fit-content;
    max-height: fit-content;
    min-width:90px; 
    max-width:120px;
    margin-top: 0;
}



@media screen and (max-width: 2000px) {
    .responsive-box {
        margin-top: 30%;
    }

}



