p,h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif;
}
.button-container{
    display: grid;
    gap: 5%;
  }
  .drag-drop-box.highlight {
    background-color: #ff0000;
    color:#ffffff;
}

.responsive-box {
    max-width: 50%;
    min-height: 50px;
    margin:0 auto;
    background-color: #24222283;
    border: 2px solid #ffffff52;
    color: white;
    align-items: center;
    text-align: center;
    display:inline-grid;
    margin-top:2%;
}

.browse-button.responsive-box{
    max-width:fit-content;
    max-height: fit-content;
    min-width:90px; 
    max-width:120px;
    margin-top: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.upload-box {
    border: 2px dashed #ccc;
    border-radius: 15px;
    text-align: center;
    padding: 40px;
    transition: border-color 0.3s, box-shadow 0.3s;
    min-width:500px;
}

.upload-box:hover,
.upload-box.dragover {
    border-color: #666;
    box-shadow: 0px 0px 10px 0px #666;
}

.upload-content {
    cursor: pointer;
}

.upload-instruction {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #666;
}

.upload-btn {
    min-width:120px;
    max-width: 50%;
    min-height: 50px;
    margin:0 auto;
    background-color: #333333c9;
    border: 2px solid #ffffff52;
    color: rgb(97, 97, 97);
    align-items: center;
    text-align: center;
    display:inline-grid;
    margin-top:2%;
}
.upload-btn:hover {
    background-color: #242222e0;
}

.sample-files {
    margin-top:5%;
    /* margin-bottom: 20px; */
    text-align: center;
}

.sample-files ul {
    list-style-type: none;
}

.sample-files li {
    display: inline;
    margin-right: 30px;
}

.sample-files a {
    text-decoration: none;
    color: #ffffff; /* Bootstrap default link color */
    background-color: #00000000; /* Bootstrap light background */
    border: 1px solid #dee2e6; /* Bootstrap light border */
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.sample-files a:hover {
    color: #0056b3; /* Bootstrap link hover color */
    background-color: #e2e6ea; /* Bootstrap light hover background */
    border-color: #dae0e5; /* Bootstrap light hover border */
}

.messages {
    margin-top: 20px;
    color: red; /* example for error messages */
}

.submit-btn {
    background-color: #4CAF50; /* Green background for the submit button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}


@media screen and (max-width: 1800px) {
    .responsive-box {
        /* margin-top: 30%; */
    }

}
