{% extends 'pdfinstant/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFInstant - Second</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pdfinstant/main.css' %}">
</head>
<body>
    <span>
        <h1 id="second_title">About PDFInstant</h1>
        <p>
            This is the second page.
        </p>
    </span>
    
    <script
    type="text/javascript"
    src="{% static 'pdfinstant/run.js' %}"
    ></script>
</body>
</html>
{% endblock content %}