{% extends 'pdfinstant/index.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFInstant - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pdfinstant/signin.css' %}">
</head>

<body>
    <CENTER>
    <h4>USER PROFILE</h4>
</CENTER>


    <script
    type="text/javascript"
    src="{% static 'pdfinstant/run.js' %}"
    ></script>
</body>
</html>

{% endblock content %}