{% extends 'pdfinstant/index.html' %}

{% load static %}

{% block title %}
PDFInstant - Generate PDFs
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'pdfinstant/generatepdfsin.css' %}">
<title>PDFInstant - Generate PDFs</title>

<div class="button-container">
    <div class="responsive-box">
        <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <input type="file" id="csvFile" name="file" accept=".csv" hidden onchange="this.form.submit()">
            <label for="csvFile" class="drag-drop-box">
                <h3>Drag & Drop/Import CSV file</h3>            </label>
        </form>
    </div>
</div>
{% endblock content %}

