{% extends 'pdfinstant/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFInstant - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pdfinstant/generatepdfs.css' %}">
</head>
<body>
    <div class="responsive-box">
        <h3>Sign-In to access PDF Generation</h3>
    </div>

    <div class="button-container">
    <a href="/signup" class="sign-up responsive-box">Sign Up</a>
    <a href="/signin" class="sign-in responsive-box">Sign In</a>
</div>
    <script
    type="text/javascript"
    src="{% static 'pdfinstant/run.js' %}"
    ></script>
</body>
</html>
{% endblock content %}