{% extends 'pdfinstant/index.html' %}

{% load static %}
{% block title %}
PDFInstant - Sign Up
{% endblock title %}

{% block content %}
<script type="text/javascript" src="{% static 'pdfinstant/signup.js' %}"></script>
<link rel="stylesheet" href="{% static 'pdfinstant/signin.css' %}">
<title>PDFInstant - Sign Up</title>

{% if alert %}
<div class="error-message-popup">
    {{ message }}
</div>
{% endif %}

<form name="register" method="post" action="{% url 'createaccount' %}">
    {% csrf_token %}
    <div class="sign-up responsive-box">
        <div class="accountform-container">
            {% if alert %}
            <center>
                <script type="text/javascript">
                    showAlert("{{ message }}");
                    </script>   
            </center>
            {% endif %}
            <div class="accountform-group">
                <label for="email"><h4>E-Mail:</h4></label>
                <input type="email" name="useremail" required>
            </div>
            <div class="accountform-group">
                <label for="password"><h4>Password:</h4></label>
                <input type="password" name="userpassword" required>
            </div>
            <div class="accountform-group">
                <label for="password"><h4>Confirm Password:</h4></label>
                <input type="password" name="userconfirmpassword" required>
            </div>
            <input type="submit" value="Create Account" class="sign-up-button browse-button responsive-box">
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'pdfinstant/run.js' %}"></script>
{% endblock content %}
