{% extends 'pdfinstant/index.html' %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'pdfinstant/signin.css' %}">
{% block title %}
<title>PDFInstant - Sign In</title>
{% endblock title %}

{% if alert %}
    <div class="error-message-popup">
        {{ message }}
    </div>
{% endif %}

<form name="login" method="post" action="{% url 'signinaccount' %}">
    {% csrf_token %}
    <div class="responsive-box">
        <div class="accountform-container">
            {% if alert %}
                <center>
                    <script type="text/javascript">
                        showAlert("{{ message }}");
                    </script>
                </center>
            {% endif %}
            <div class="accountform-group">
                <label for="email"><h4>E-Mail:</h4></label>
                <input type="email" name="useremail" required> 
            </div>
            <div class="accountform-group">
                <label for="password"><h4>Password:</h4></label>
                <input type="password" name="userpassword" required>
            </div>
            <input type="submit" value="Sign in" class="browse-button responsive-box">
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'pdfinstant/signup.js' %}"></script>
<script type="text/javascript" src="{% static 'pdfinstant/run.js' %}"></script>
{% endblock content %}
