   {% csrf_token %}
  <div class="accountform-container">
      <div class="accountform-group">
        <label for="useremail"><h4>E-Mail:</h4></label>
        <input type="text" name="useremail" value="" width="200" >
      </div>
      <div class="accountform-group">
        <label for="userpassword"><h4>Password:</h4></label>
        <input type="text" name="userpassword" value="" width="200" ><br>
      </div>
      <div class="accountform-group">
        <label for="userconfirmpassword"><h4>Confirm Password:</h4></label>
        <input type="text" name="userconfirmpassword" value="" width="200" ><br>
      </div>
      <div class="browse-button responsive-box">
          <h4>Sign In</h4>
      </div>
  </div>
    
  </div>